/* font init */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* template */
.container {
  width: 1140px;
  margin: 0 auto;
}

.siteBG {
  background: rgb(245, 248, 255);
}

/* hero section */

.header {
  background-image: url("/asset/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 0;
}

.h1 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 4.063rem;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  max-width: 905px;
  text-align: center;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(78, 71, 255);
  /* font-family: Inter; */
  font-size: 2.125rem;
  font-weight: 900;
  line-height: 150%;
  text-align: left;
}

.btnPrimary {
  border-radius: 10px;
  padding: 12px 36px 12px 36px;
  border: none;
  background-color: rgb(78, 71, 255);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnPrimary:hover {
  background-color: #f0c410;
  color: black;
}

/* action section */
.actionSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 116px 0;
  gap: 220px;
}

.h2 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}
.actionDescription {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.aContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.actionIMG {
  border-radius: 48px;
}
